<!DOCTYPE html>
<html>

    <head>
    <title>Predict House Calculator</title>
    </head>

    <body>

        <h4> Predict House calculation</h4>                           <!-- creating a header -->
        <form name="form" , method="POST">                     <!-- defining a form to serve as user-input interface. Post method request was used, as its unlimited and secure-->
            <div >                                             <!--divison is created for each of the label so as to allow for easy styling by css-->
            <label for="1">Number of bedrooms</label>                    <!--Salary label was created within the form-->
                <input                                           
                    name="Number of bedrooms"
                    type="number"
                    id="1"
                    placeholder=""
                />                                              <!--This is used to specified what a user can enter data. It work with some attribute such as name, type etc-->
            
            </div>

            <div>
            <label for="2">Living area</label>
                <input
                    name="Living area"
                    type="number"
                    id="2"
                    placeholder=""
                />
            </div>

            <div >
            <label for="3">Number of facades</label>
                <input
                    name="Number of facades"
                    type="number"
                    id="3"
                    placeholder=""
                />
            </div>

            <div >
                <label for="4">Surface area land</label>
                    <input
                        name="Surface area land"
                        type="number"
                        id="4"
                        placeholder=""
                    />
                </div>

            <div>
            <button type="submit" value="Submit" >
            Run
            </button>

            </div>

        </form>
 
         <h3 >{{ '%0.0f'|format(predicted_price|float) }}  HousePricePrediction</h3> 
     

    </body>
</html